# зависимости
node_modules/

# продакшн-сборка
dist/

# dotenv-файлы
.env
.env.*

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# кэш и служебные файлы
.DS_Store
*.log
*.tgz
*.tsbuildinfo
.eslintcache

# история редакторов
.idea/
.vscode/

.history/