body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 24px 16px;
  border-bottom: 1px solid #d9fff5;
}

.content {
  padding: 24px 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header {
  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__divider--one,
  &__divider--three,
  &__icons--hidden-mobile,
  &__item--text {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  //   height: 100vh;
  gap: 24px;
  background-color: #f8f8f8;

  &__header,
  .menu,
  &__text,
  &__link {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 16px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: none;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;

    &--text {
      font-size: 28px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__highlight {
    margin-left: -24px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__paragraph {
    &--primery {
      margin: 0;
    }

    &--secondary {
      display: none;
      margin: 0;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
    font-size: 16px;
  }

  &__image {
    img {
      width: 100%;
      display: block;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  &__item--text {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 500;
  }
}

.menu {
  &__nav {
    display: flex;
    gap: 8px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    white-space: nowrap;
    font-weight: 500;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #7e7e82;

    &--active {
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: white;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 950;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .header {
    &__icons--hidden-mobile {
      display: flex;
      gap: 16px;
    }

    &__divider--one,
    &__divider--three {
      display: block;
    }

    &__divider--two {
      display: none;
    }
  }

  .content {
    &__title {
      font-size: 28px;
      font-weight: 700;
    }

    &__paragraph--secondary {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      gap: 10px;
    }

    &__main {
      flex-direction: row;
      justify-content: space-between;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__image {
      width: 50%;
    }

    .content__image {
      border-radius: 6px;
    }
  }
}

@media (min-width: 1120px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 950;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .icon-button-hiden {
    display: none;
  }
  .content {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
    }

    &__title--text {
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
    }

    &__item {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #1b1c21;
      text-decoration: none;
      gap: 8px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    &__paragraph--secondary {
      display: block;
    }
  }

  .menu__nav {
    flex-wrap: wrap;
  }
}
